@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    height: 100vh;
}

/* #logo {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    animation: fill 0.5s ease forwards 0.9s;
}

@keyframes fill {
    from{
        fill: transparent;
    }
    to{
        fill: white;
    }
} */