@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    height: 100vh;
}

#logo {
    animation: fill 0.5s ease forwards 0.9s;
}

@keyframes fill {
    from{
        fill: transparent;
    }
    to{
        fill: white;
    }
} 