*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100px;
    height: 100vh;
    background-color: rgb(91, 100, 186);
}

#logo {
    background-color: rgb(91, 100, 186);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fill 0.5s ease forwards 0.9s;
}

@keyframes fill {
    from{
        fill: transparent;
    }
    to{
        fill: white;
    }
}